#boxHolder {
  display: flex;
  flex-wrap: wrap;
}
div {
  min-height: 19px;
  min-width: 19px;
  border: groove;
}
#color {
  display: flex;
  flex-wrap: wrap;
}
#blue {
  background-color:blue;
}
#yellow {
  background-color:yellow;
}
#black {
  background-color:black;
}
#brown {
  background-color:brown;
}
#white {
  background-color:white;
}
